<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Words2.0</display-name>
  <servlet>
    <servlet-name>getWord</servlet-name>
    <servlet-class>WordServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWord</servlet-name>
    <url-pattern>/servlet/getWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getWordList</servlet-name>
    <servlet-class>WordListServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWordList</servlet-name>
    <url-pattern>/servlet/getWordList</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>fetchWord</servlet-name>
    <servlet-class>FetchWord</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>fetchWord</servlet-name>
    <url-pattern>/servlet/fetchWord</url-pattern>
  </servlet-mapping>
</web-app>